version: '3.8'

services:
  website:
    build: .
    volumes:
      - ./acm_website/secret.py:/usr/src/app/acm_website/secret.py
      - ./media:/usr/src/app/media
      - ./db.sqlite3:/usr/src/app/db.sqlite3
    ports:
      - "8000:8000/tcp"
