# Code formatter
black~=24.4.2
# Django
Django~=4.2.14
# Handy Django helpers
django-annoying~=0.10.7
# Bootstrap for Django
django-bootstrap5~=24.2
# Helps with forms
django-crispy-forms~=2.3
# Web server
gunicorn~=22.0.0
# IPython interactive shell
ipython~=8.27.0
# Markdown parser
mistune~=3.0.2
# Code syntax highlighting
pygments~=2.18.0
# Static file generation
whitenoise~=6.7.0
# Needed for ImageField
Pillow~=10.4.0