:root {
    --bs-font-sans-serif: "IBM Plex Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    --bs-font-monospace: "IBM Plex Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

#dropdownMenuLink {
    color: var(--bs-navbar-color);
}

#dropdownMenuLink:hover {
    cursor: pointer;
    color: var(--bs-navbar-hover-color);
}

.asteriskField {
    display: none;
}

.alert {
    margin-bottom: 0;
}

.btn-blue {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-indigo {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6610f2;
    --bs-btn-border-color: #6610f2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #570ece;
    --bs-btn-hover-border-color: #520dc2;
    --bs-btn-focus-shadow-rgb: 125, 52, 244;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #520dc2;
    --bs-btn-active-border-color: #4d0cb6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6610f2;
    --bs-btn-disabled-border-color: #6610f2;
}

.btn-purple {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6f42c1;
    --bs-btn-border-color: #6f42c1;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5e38a4;
    --bs-btn-hover-border-color: #59359a;
    --bs-btn-focus-shadow-rgb: 133, 94, 202;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #59359a;
    --bs-btn-active-border-color: #533291;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6f42c1;
    --bs-btn-disabled-border-color: #6f42c1;
}

.btn-pink {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d63384;
    --bs-btn-border-color: #d63384;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b62b70;
    --bs-btn-hover-border-color: #ab296a;
    --bs-btn-focus-shadow-rgb: 220, 82, 150;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ab296a;
    --bs-btn-active-border-color: #a12663;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #d63384;
    --bs-btn-disabled-border-color: #d63384;
}

.btn-red {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
}

.btn-orange {
    --bs-btn-color: #000;
    --bs-btn-bg: #fd7e14;
    --bs-btn-border-color: #fd7e14;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fd9137;
    --bs-btn-hover-border-color: #fd8b2c;
    --bs-btn-focus-shadow-rgb: 215, 107, 17;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #fd9843;
    --bs-btn-active-border-color: #fd8b2c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #fd7e14;
    --bs-btn-disabled-border-color: #fd7e14;
}

.btn-yellow {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffc107;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffca2c;
    --bs-btn-hover-border-color: #ffc720;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
}

.btn-green {
    --bs-btn-color: #fff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}

.btn-teal {
    --bs-btn-color: #000;
    --bs-btn-bg: #20c997;
    --bs-btn-border-color: #20c997;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #41d1a7;
    --bs-btn-hover-border-color: #36cea1;
    --bs-btn-focus-shadow-rgb: 27, 171, 128;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #4dd4ac;
    --bs-btn-active-border-color: #36cea1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #20c997;
    --bs-btn-disabled-border-color: #20c997;
}

.btn-cyan {
    --bs-btn-color: #000;
    --bs-btn-bg: #0dcaf0;
    --bs-btn-border-color: #0dcaf0;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #31d2f2;
    --bs-btn-hover-border-color: #25cff2;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #3dd5f3;
    --bs-btn-active-border-color: #25cff2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #0dcaf0;
    --bs-btn-disabled-border-color: #0dcaf0;
}

.btn-black {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: black;
    --bs-btn-focus-shadow-rgb: 38, 38, 38;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: black;
    --bs-btn-active-border-color: black;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #000;
    --bs-btn-disabled-border-color: #000;
}

.btn-white {
    --bs-btn-color: #000;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: white;
    --bs-btn-focus-shadow-rgb: 217, 217, 217;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #fff;
    --bs-btn-disabled-border-color: #fff;
}

.btn-gray {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.btn-gray-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #343a40;
    --bs-btn-border-color: #343a40;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2c3136;
    --bs-btn-hover-border-color: #2a2e33;
    --bs-btn-focus-shadow-rgb: 82, 88, 93;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2a2e33;
    --bs-btn-active-border-color: #272c30;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #343a40;
    --bs-btn-disabled-border-color: #343a40;
}

.text-bg-blue {
    background-color: var(--bs-blue);
    color: var(--bs-white) !important;
}

.text-bg-indigo {
  background-color: var(--bs-indigo);
  color: var(--bs-white) !important;
}
.text-bg-purple {
  background-color: var(--bs-purple);
  color: var(--bs-white) !important;
}
.text-bg-pink {
  background-color: var(--bs-pink);
  color: var(--bs-white) !important;
}
.text-bg-red {
  background-color: var(--bs-red);
  color: var(--bs-white) !important;
}
.text-bg-orange {
  background-color: var(--bs-orange);
  color: var(--bs-black) !important;
}
.text-bg-yellow {
  background-color: var(--bs-yellow);
  color: var(--bs-black) !important;
}
.text-bg-green {
  background-color: var(--bs-green);
  color: var(--bs-white) !important;
}
.text-bg-teal {
  background-color: var(--bs-teal);
  color: var(--bs-black) !important;
}
.text-bg-cyan {
  background-color: var(--bs-cyan);
  color: var(--bs-black) !important;
}
.text-bg-black {
  background-color: var(--bs-black);
  color: var(--bs-white) !important;
}
.text-bg-white {
  background-color: var(--bs-white);
  color: var(--bs-black) !important;
}
.text-bg-gray {
  background-color: var(--bs-gray);
  color: var(--bs-white) !important;
}
.text-bg-gray-dark {
  background-color: var(--bs-gray-dark);
  color: var(--bs-white) !important;
}