# Debug status; should be False in production
DEBUG = True

# Allowed domains -- keep "localhost", "127.0.0.1", and "::1" for development purposes
ALLOWED_HOSTS = ["localhost", "127.0.0.1", "::1", "uvacns.com", "www.uvacns.com"]

SOCIALACCOUNT_PROVIDERS = {
    "saml": {
        # Here, each app represents the SAML provider configuration of one
        # organization.
        "APPS": [
            {
                # Used for display purposes, e.g. over by: {% get_providers %}
                "name": "CNS Single Sign-On",   

                # Accounts signed up via this provider will have their
                # `SocialAccount.provider` value set to this ID. The combination
                # of this value and the `uid` must be unique. The IdP entity ID is a
                # good choice for this.
                "provider_id": "https://sso.singlesignon.com/realms/cns",

                # The organization slug is configured by setting the
                # `client_id` value. In this example, the SAML login URL is:
                #
                #     /accounts/saml/acme-inc/login/
                "client_id": "cns",

                # The fields above are common `SocialApp` fields. For SAML,
                # additional configuration is needed, which is placed in
                # `SocialApp.settings`:
                "settings": {
                    "attribute_mapping": {
                        "email": "email",
                        "first_name": "first_name",
                        "last_name": "last_name",
                        "username": "uid"
                    },
                    # The configuration of the IdP.
                    "idp": {
                        # The entity ID of the IdP is required.
                        "entity_id": "https://sso.singlesignon.com/realms/cns",

                        # Then, you can either specify the IdP's metadata URL:
                        "metadata_url": "https://sso.singlesignon.com/realms/cns/protocol/saml/descriptor",
                    },
                    "sp": {
                        # Optional entity ID of the SP. If not set, defaults to the `saml_metadata` urlpattern
                        "entity_id": "django",
                    },
                },
            },
        ]
    }
}
