# Debug status; should be False in production
DEBUG = True

# Allowed domains -- keep "localhost", "127.0.0.1", and "::1" for development purposes
ALLOWED_HOSTS = ["localhost", "127.0.0.1", "::1", "acm.cs.virginia.edu"]

# Link to Venmo
VENMO_LINK = "https://venmo.com/u/someuserhere"
# Link to Zelle -- you can get this by decoding the ACM QR code
ZELLE_LINK = "https://enroll.zellepay.com/qr-codes?data=base64encodeddata"
