{% extends "_base.html" %}

{% block content %}
	<h1>HSPC</h1>
    <p>Every year, the largest High School Programming Contest (HSPC) in the Mid-Atlantic region takes place here at UVA.</p>
    <div>
        <a href="https://docs.google.com/document/d/1nun41JuAuGIfOWPgurogTc4Stgb6uwwXXfQY84RPbHc/edit?usp=sharing" class="btn btn-primary pt-auto me-3"
           style="background-color: var(--bs-blue); border-color: var(--bs-blue);">
            <i class="bi bi-info-circle-fill me-2"></i>
            Information
        </a>
        <a href="https://uvahspc2024.eventbrite.com/" class="btn btn-primary pt-auto me-3"
           style="background-color: var(--bs-green); border-color: var(--bs-green);">
            <i class="bi bi-person-fill-add me-2"></i>
            Register
        </a>
        <a href="mailto:hspc@virginia.edu" class="btn btn-primary pt-auto me-3"
           style="background-color: var(--bs-red); border-color: var(--bs-red);">
            <i class="bi bi-envelope-fill me-2"></i>
            Contact Us
        </a>
    </div>
    <div class="row row-cols-3 pt-3">
        <div>
            <h2>Frequently Asked Questions</h2>
            <div class="rounded border">
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>What are the contest rules?</strong>
                    </summary>
                    <div class="details-container mt-1">
                        <p>Rules can be found in the Logistics section of <a href="https://docs.google.com/document/d/1nun41JuAuGIfOWPgurogTc4Stgb6uwwXXfQY84RPbHc/edit?usp=sharing">this document</a>.</p>
                        <p>For further comments or questions, please email <a href="mailto:hspc@virginia.edu">hspc@virginia.edu</a>.</p>
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>What are the versions of software used?</strong>
                    </summary>
                    <div class="details-container mt-1">
                        <p>Competitors will be allowed to use any IDE they choose. Our judging software will use the following language versions:</p>
                        <ul>
                            <li><code>g++</code> 5.4.0</li>
                            <li>Python 3 version 3.5.2</li>
                            <li>Java 8 (OpenJDK version 1.8.0_21)</li>
                        </ul>
                        <p>We will be using DomJudge to submit and judge solutions.</p>
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>Are there any sample problems available?</strong>
                    </summary>
                    <div class="details-container mt-1">
                        <p>You can read past problem sets (PDF) and see full solutions with sample and judge input/output (zip) here:</p>
                        <ul>
                            {% for past_set in past_sets %}
                            	<li>{{ past_set.year }} (<a href="{{ past_set.judge_data.url }}">zip</a>) (<a href="{{ past_set.problem_set.url }}">pdf</a>)</li>
                            {% endfor %}
                        </ul>
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>What reference materials will be available?</strong>
                    </summary>
                    <div class="details-container mt-1">
                        <p>During the contest, the following will be available electronically:</p>
                        <ul>
                            <li><a href="http://docs.oracle.com/javase/8/docs/">Java JDK 8 Docs</a> (<a href="http://docs.oracle.com/javase/8/docs/api/">api</a>)</li>
                            <li><a href="http://www.sgi.com/tech/stl/download.html">SGI's C++ STL Reference</a></li>
                            <li><a href="https://acm.cs.virginia.edu/data/viunix.html"></a></li>
                            <li>Language "cheat sheets" for both C++ and Java</li>
                            <li>Python 3 reference</li>
                            <li>Instructions for printing out code to work on</li>
                        </ul>
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>What are the prizes like?</strong>
                    </summary>
                    <div class="details-container mt-1">
                        <p>Prizes are likely to include Amazon gift cards, board games, drones, and other similarly useful items.</p>
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>What are the past results?</strong>
                    </summary>
                    <div class="details-container mt-1">
                        <p>Past results are unavailable while we port all of our data over to a new website. We hope to have results back shortly.</p>
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>What is the computer configuration for the contest?</strong>
                    </summary>
                    <div class="details-container mt-1">
                        <p>Each team will have access to a single Linux environment with common IDEs, compilers, and editors installed. This computer will be shared by all team members.</p>
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>Who can I contact if I still have questions?</strong>
                    </summary>
                    <div class="details-container mt-1">
                        <p>If you have any questions, please contact the HSPC contest director (<a href="mailto:hspc@virginia.edu">hspc@virginia.edu</a>).</p>
                    </div>
                </details>
                <details class="p-3">
                    <summary>
                        <strong>Where do the teams come from?</strong>
                    </summary>
                    <div class="details-container mt-1">
                        <p>Teams come from all over Virginia. Some even come from Maryland once in a while.</p>
                    </div>
                </details>
            </div>
        </div>
        <div>
            <h2>Our Plan for 2024</h2>
            <p>This year, we plan to host HSPC in person at UVA! All the information needed for the event can be found in the packet linked <a href="https://docs.google.com/document/d/19odkSbUa6XsJ60uxfE6PVteG_Wqu1Su3yDoympKFjxI/edit">here</a>.</p>
            <h2>Want to help out?</h2>
            <p>HSPC is run by UVA students! If you are a current or graduated UVA student and want to help inspire high school students, let us know at <a href="mailto:hspc@virginia.edu">hspc@virginia.edu</a> or join our <a href="https://discord.gg/wxWgbVs">Discord server</a> and type <code>!hspc</code>. Thank you! </p>
        </div>
        <div>
            <h2>Sponsorship</h2>
            <p>
                If you are interested in sponsoring the contest, and encouraging high school students to pursue computing, please email <a href="mailto:hspc@virginia.edu">hspc@virginia.edu</a>.
            </p>
            <h2>Registration</h2>
            <div class="rounded border">
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>Where do I register?</strong>
                    </summary>
                    <div class="details-container mt-1">
                        <p>Previous year's coaches should receive an email from us asking about registration. If you do not receive an email or are a new team interested in participating, please register <a href="https://uvahspc2024.eventbrite.com/">here</a>.</p>
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>What do I need to know about registration?</strong>
                    </summary>
                    <div class="details-container mt-1">
                        <p>Each team consists of up to three students and one coach. Registration costs $40 per team. Each school may register up to three teams.</p>
                    </div>
                </details>
                <details class="p-3">
                    <summary>
                        <strong>Is financial assistance available?</strong>
                    </summary>
                    <div class="details-container mt-1">
                        <p>We know that the cost of attendance for our competition may be prohibitive for some schools. If your school is interested in participating but is prevented by the cost, please let our HSPC Contest Chair know by email at <a href="mailto:hspc@virginia.edu">hspc@virginia.edu</a>.</p>
                    </div>
                </details>
            </div>
        </div>
    </div>
{% endblock %}