{% extends "_base.html" %}

{% block content %}
    <h1>ICPC</h1>
    <p>The International Collegiate Programming Contest is a problem-solving competition for undergraduates.</p>
    <div class="row row-cols-3">
        <div>
            <h2>World Finals Appearances</h2>
            <div class="rounded border">
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>2023: Luxor, Egypt</strong>
                    </summary>
                    <div class="details-container mt-1">
                        The team of Edward Lue, Richard Wang, and Nicholas Winschel (with coach Mark Floryan) advanced
                        to the world finals in Luxor, Egypt in April 2024.
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>2016: Phuket, Thailand</strong>
                    </summary>
                    <div class="details-container mt-1">
                        The team of Andrew Norton, Derek Morris, and Alec Grieser (with coaches Aaron Bloomfield and
                        Mark Floryan) earned first place in the mid-Atlantic region to automatically advance to the
                        world finals in Phuket, Thailand in June 2016.
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>2014: Yekaterinburg, Russia</strong>
                    </summary>
                    <div class="details-container mt-1">
                        The team of Kevin Zhang, Leiqing Cai, and Jinyan Liu (with coach Aaron Bloomfield) earned first
                        place in the mid-Atlantic region to automatically advance to the world finals in Yekaterinburg,
                        Russia, in June 2014.
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>2013: St. Petersburg, Russia</strong>
                    </summary>
                    <div class="details-container mt-1">
                        The team of Neal Milstein, Carson Wang, and Derek Morris (with coach Aaron Bloomfield) qualified
                        for the world finals in St. Petersburg, Russia, in July 2013.
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>2011: Orlando, Florida, USA</strong>
                    </summary>
                    <div class="details-container mt-1">
                        The team of Kristine Collins, Daniel Epstein, and Adelin Miloslavov (with coach Aaron
                        Bloomfield) qualified for the world finals in Orlando, Florida, in May 2011.
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>2010: Harbin, China</strong>
                    </summary>
                    <div class="details-container mt-1">
                        The team of Calvin Li, Briana Satchell, and George Washington (with coach Aaron Bloomfield)
                        qualified for the world finals in Harbin, China, in February 2010.
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>2009: Stockholm, Sweden</strong>
                    </summary>
                    <div class="details-container mt-1">
                        The team of Calvin Li, Briana Satchell, and George Washington (with coach Aaron Bloomfield)
                        qualified for the world finals in Stockholm, Sweden, in April, 2009.
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>2003: Beverly Hills, California, USA</strong>
                    </summary>
                    <div class="details-container mt-1">
                        A team qualified for the world finals in March 2003 in Beverly Hills, California.
                    </div>
                </details>
                <details class="p-3 border-bottom">
                    <summary>
                        <strong>2001: Vancouver, Canada</strong>
                    </summary>
                    <div class="details-container mt-1">
                        The team of Peff King, Brian Clarke, and Carsten Clark (and coach Jane Prey) qualified for the
                        world finals in March 2001 in Vancouver, Canada.
                    </div>
                </details>
                <details class="p-3">
                    <summary>
                        <strong>1999: Eindhoven, The Netherlands</strong>
                    </summary>
                    <div class="details-container mt-1">
                        The team of Patrick Reynolds, Peff King, and Dick Eppink qualified for the world finals in April
                        1999 in Eindhoven, the Netherlands.
                    </div>
                </details>
            </div>
        </div>
        <div>
            <h2>What is ICPC?</h2>
            <p>
                The International Collegiate Programming Contest is the most well-known competitive programming contest
                in the world. Each year over 30,000 contestants, comprising more than 10,000 teams from thousands of
                institutions, compete in regional contests in the fall. The top 100 (or so) teams then advance to the
                world finals, which is held throughout the world in the spring or early summer.</p>
            <p>Over the past 25 years, UVA has qualified for the world finals ten times.</p>
            <p>
                You can read more about ICPC <a
                    href="https://en.wikipedia.org/wiki/International_Collegiate_Programming_Contest">here</a>.
            </p>
        </div>
        <div>
            <h2>Get Involved!</h2>
            <p>
                Each year, UVA sends ten teams (of three contestants each) to the regional contests, which are in late
                October or early November. Anybody may participate; undergraduate students of all levels and first year
                graduate students are allowed to compete. Teams start practicing as soon as the fall semester begins in
                late August. If you are interested in getting involved, you can contact Will McBurney (pm8fc), the coach
                of UVA's ICPC teams.
            </p>
        </div>
    </div>
{% endblock %}