{% extends "_base.html" %}
{% load socialaccount %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Log In</h1>
    <form action="{% url 'login_page' %}" method="post" class="pt-3 w-50">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Log In">
    </form>
    <h2>Log In With NetBadge</h2>
    <a class="btn btn-primary" href="/accounts/saml/acm/login?next={{ nxt }}">NetBadge</a>
{% endblock %}