{% load markdown %}

<div class="card h-100 officer-card">
    <img src="{{ officer.image.url }}" class="card-img-top" style="object-fit: cover; aspect-ratio: 1/1;"
         alt="Image of {{ officer.first_name }} {{ officer.last_name }}">
    <div class="card-body">
        <h5 class="card-title officer-card-title">{{ officer.first_name }} {{ officer.last_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted officer-card-subtitle">{{ officer.position }}</h6>
        <p class="card-text">{{ officer.bio | markdown | remove_p_tags | safe }}</p>
    </div>
    <div class="card-footer">
        <a href="mailto:{{ officer.email }}" class="btn btn-primary pt-auto">Email</a>
    </div>
</div>