{% load static %}
{% load markdown %}

<div class="card h-100 officer-card">
    {% if officer.user.image %}
    <img src="{{ officer.user.image.url }}" class="card-img-top" style="object-fit: cover; aspect-ratio: 1/1;"
         alt="Image of {{ officer.user.first_name }} {{ officer.user.last_name }}">
    {% else %}
    <img src="{% static 'acm.png' %}" class="card-img-top" style="object-fit: cover; aspect-ratio: 1/1;"
         alt="Image of {{ officer.user.first_name }} {{ officer.user.last_name }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title officer-card-title">{{ officer.user.first_name }} {{ officer.user.last_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted officer-card-subtitle">{{ officer.position }}</h6>
    </div>
    <div class="card-footer">
        <a href="/users/{{ officer.user.username }}" class="btn btn-primary pt-auto">Profile</a>
    </div>
</div>