{% load static %}

{% if req_user.image %}
    <img src="{{ req_user.image.url }}" class="rounded-circle border border-3"
         style="object-fit: cover; aspect-ratio: 1/1; width: 100%;"
         alt="Image of {{ req_user.first_name }} {{ req_user.last_name }}">
{% else %}
    <div class="rounded-circle border border-3 d-flex"
         style="object-fit: cover; aspect-ratio: 1/1; width: 15vw; align-items: center;">
        <div class="w-75 mx-auto d-block">
            <svg xmlns="http://www.w3.org/2000/svg" fill="var(--bs-secondary-color)" class="bi bi-person-fill"
                 viewBox="0 0 16 16" role="img" aria-label="[title + description]">
                <title>Placeholder image for {{ req_user.first_name }} {{ req_user.last_name }}</title>
                <desc>This user has not set an image.</desc>
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
            </svg>
        </div>
    </div>
{% endif %}