{% extends "_base.html" %}
{% load crispy_forms_filters %}

{% load markdown %}

{% block content %}
    <div class="d-flex flex-row">
        {# TODO: make this image more mobile-friendly #}
        <div class="flex-shrink-1" style="width: 15vw;">
            {% include "profile_image.html" %}
        </div>
        <div class="flex-grow-1 ps-5">
            <div class="d-flex flex-row">
                <h1 class="me-4">{{ req_user.first_name }} {{ req_user.last_name }}</h1>
                <a href="mailto:{{ req_user.email }}" title="Email {{ req_user.first_name }} {{ req_user.last_name }}"
                   class="p-2 rounded-circle border border-1 my-auto"><i class="bi bi-envelope text-muted"></i></a>
            </div>
            {{ req_user.bio | markdown | safe }}
            {% if request.user.is_authenticated and request.user.username == req_user.username %}
                <!-- Button trigger modal -->
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#profileModal">
                Edit profile
                <i class="bi bi-pencil-fill ms-1"></i>
                </button>
            {% endif %}
        </div>
    </div>
    {% if badges %}
        <div class="pt-3">
            <h2>Achievements</h2>
            {% for badge in badges %}
                {% include 'badge.html' %}
            {% endfor %}
        </div>
    {% endif %}
    {% if events_attended %}
        <div class="pt-3">
            <h2>Events Attended</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 pb-3">
                {% for evt in events_attended %}
                    <div class="col">
                        {% include 'profile_event_card.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" method="POST" action="{% url 'user_page' username=req_user.username %}" enctype="multipart/form-data">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="profileModalLabel">Edit Profile</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            {{ form|crispy }}
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Save changes">
          </div>
        </form>
      </div>
    </div>

{% endblock %}